# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
/sites/default/settings.php

/.project
/.settings
/.buildpath
/sites/default/settings.php
user_import_storage
/sites/default/files_OLD
sites/*/files_*
examples
