.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-left: 10px;
  margin-right: 10px;
}

.alpha,
.omega {
  margin-left: 0;
  margin-right: 0;
}

.align_center,
.align_right {
  text-align: left;
}

/* Start Customization */

#mainWrapper {
    width: auto !important;
}
.messages.error{ display:none; }
#sidebar-first.leftMenuWrap {
	display:none;
}

#main.rightContainer {
    width: auto;
	float: none;
}

.posts {
float: none !important;
background: none;
border-left: none;
width: auto !important;
padding-left: 0;
clear: both;
}