.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-left: 10px;
  margin-right: 10px;
}

.alpha,
.omega {
  margin-left: 0;
  margin-right: 0;
}

.align_center,
.align_right {
  text-align: left;
}

/* Start Customization */
body {
  width: 100%;
  
  background: none !important;
  background-color: #D3D6DB !important;
}
.logo-home-icon {
	display:none;
}

.logo > img {
    padding-top: 6px !important;
    width: 202px !important;
}
.status-update-form ul.tabs li {
	font-size: 0px;
}
.profileWrap > img {
	 height: auto;
   width: 100%;
}
.profileWrap .profileThumb {
	float: left;
  height: auto;
  overflow: hidden;
  position: static;
  top: 0;
  width: 52px;
}

.profileWrap .profileThumb img {
    border: 1px solid #FFFFFF;
    height: auto;
    width: 50px;
}

.schDetailWrap {
	float: left;
  margin-left: 10px !important;
}

.tabLists {
	float: left;
}
.tabContainer {
    margin-bottom: 30px;
    overflow: hidden;
    float:left;
}
.profileDetail .section span.lbl {
    width: 100% !important;
}
.sub-icon > img {
    height: 37px;
}

#mainWrapper {
    width: auto !important;
}
.messages.error{ display:none; }
#sidebar-first.leftMenuWrap {
	display:none;
}

#main.rightContainer {
  width: auto;
	float: none;
	overflow: hidden;
}
.blockWrap {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C9C9C9;
	clear: both;
	margin: 10px;
	overflow: hidden;
	padding: 10px;
}

.posts {
float: none !important;
background: none;
border: none !important;
width: auto !important;
padding: 0 !important;
clear: both;
background: none !important;
}
.blockWrap .schoolInfo{
	width: 100% !important;
	float: left;
	margin-bottom: 10px;
}
.posts > iframe {
    width: 100%;
}

.schDtl {
    float: left !important;
    margin-left: 5px !important;
    width: 70% !important;
}

#header {
    background: url("../images/headerBack.jpg") repeat-x scroll left top rgba(0, 0, 0, 0);
    height: 91px !important;
    overflow: visible;
    position: fixed;
    width: 100% !important;
    z-index: 9999 !important;
}

#header .hdrRight {display:none;}
#header .round-box.leftMenu{display:none;}
.navList {
    display: block !important;
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 16px;
}
ul.navList {
    list-style: none outside none;
}
ul.navList li a {
    display: block;
    padding-top:10px;
}
ul.navList li > ul.mobileMenu {
    background: none repeat scroll 0 0 #F2F2F2;
    display: none;
    left: 0;
    position: absolute;
    top: 90px;
    width: 100%;
    z-index: 9999;
}
ul.navList li > ul.mobileMenu li {
    border-bottom: 1px solid #CCCCCC;
}
.subMenu {
    background-color: #FFFFFF;
    display:none;
}
.sub-icon {
	float:right;
	padding-top:0px !important;
}

.menu {
    padding-left: 0;
}
ul.navList li > ul.mobileMenu li a {
    color: #0F81DA;
    display: block;
    line-height: 15px;
    padding: 11px 0 11px 20px;
    text-transform: uppercase;
}
.show {
    display: block !important;
}
.postComment #comment_message textarea {
    border: 1px solid #7CC5E8;
    float: left;
    font-family: Open Sans;
    font-size: 12px;
    height: 40px;
    padding: 0 5px;
    resize: none;
    width: 100% !important;
}
.footer {
    border-top: 1px solid #0C82DA;
    margin-left: 199px;
    margin-top: 4px;
    overflow: hidden;
    padding: 10px;
    width: auto !important;
}

.rwd-content-wrapper{
	background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #C9C9C9;
  clear: both;
  margin: 10px;
  overflow: hidden;
  padding: 10px;
}
.tabContainer .section{
	padding: 0 0 15px !important;
	margin: 10px 0;
}
.tabContainer .section h2.icon{
	padding: 0 !important;
}
.tabContainer .section ul {
	margin: 0 !important;
}
.profileDetail{
	padding: 0 !important;
}

.mobile-body .rightContainer{
	background: none repeat scroll 0 0 #FFFFFF;
  margin: 10px;
  padding: 10px;
}